In [16]:
import findspark
import pandas as pd

In [2]:
findspark.init('/home/caio/spark-2.1.0-bin-hadoop2.7/')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('ops').getOrCreate()

In [6]:
df = spark.read.csv('/home/caio/Desktop/MOOCs/Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/appl_stock.csv',inferSchema=True,header = True)

In [7]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [13]:
dfp = df.select('Date','Close').toPandas()

In [15]:
dfp.set_index('Date', inplace = True)

In [36]:
dfp['2012-01']

                 Close
Date
2012-01-03  411.230000
2012-01-04  413.440010
2012-01-05  418.029995
2012-01-06  422.400002
2012-01-09  421.730000
2012-01-10  423.239994
2012-01-11  422.549992
2012-01-12  421.389992
2012-01-13  419.810009
2012-01-17  424.700001
2012-01-18  429.110008
2012-01-19  427.750004
2012-01-20  420.300007
2012-01-23  427.409996
2012-01-24  420.409996
2012-01-25  446.659996
2012-01-26  444.629990
2012-01-27  447.280010
2012-01-30  453.009995
2012-01-31  456.479980

In [30]:
pd.eval("dfp[(dfp.index > '2011-12-04') and (dfp.index < '2012-01-04')]")

                 Close
Date
2011-12-05  393.010010
2011-12-06  390.949989
2011-12-07  389.090000
2011-12-08  390.659996
2011-12-09  393.620010
2011-12-12  391.839996
2011-12-13  388.809994
2011-12-14  380.190010
2011-12-15  378.939995
2011-12-16  381.019989
2011-12-19  382.210003
2011-12-20  395.949997
2011-12-21  396.450008
2011-12-22  398.550003
2011-12-23  403.330006
2011-12-27  406.529999
2011-12-28  402.640003
2011-12-29  405.120007
2011-12-30  405.000004
2012-01-03  411.230000

In [63]:
pd.to_timedelta('1day',unit='D')

Timedelta('1 days 00:00:00')

In [83]:
test2 = pd.to_datetime('2011-12')

In [84]:
test3 = test2 -  pd.to_timedelta('20day',unit='D')

In [89]:
test4 = '2011-11-27'

In [87]:
test = df.select('Date','Close').filter("Date > '{}' and Date <'{}'".format(str(test3),str(test2)))

In [88]:
test.show()

+--------------------+------------------+
|                Date|             Close|
+--------------------+------------------+
|2011-11-14 00:00:...|        379.260002|
|2011-11-15 00:00:...|        388.829994|
|2011-11-16 00:00:...|        384.770008|
|2011-11-17 00:00:...|            377.41|
|2011-11-18 00:00:...|374.94001000000003|
|2011-11-21 00:00:...|        369.009995|
|2011-11-22 00:00:...|376.51000600000003|
|2011-11-23 00:00:...|        366.990002|
|2011-11-25 00:00:...|        363.570004|
|2011-11-28 00:00:...|376.12001000000004|
|2011-11-29 00:00:...|        373.199997|
|2011-11-30 00:00:...|        382.199989|
+--------------------+------------------+

In [12]:
#df.filter("Close < 500").select('Open').show()

In [12]:
cols = ['Open','Low','Volume']
data = df.filter((df['Close'] < 500) & ~(df['Open'] > 200)).select(cols).toPandas()

In [16]:
data = df.toPandas()

In [18]:
result = df.filter(df['Low'] == 197.16).collect()

In [21]:
row = result[0]

In [24]:
row.asDict()['Volume']

220441900

In [26]:
import numpy as np
import pandas as pd

In [15]:
#df.select(['Date','Open']).show()

In [16]:
from pyspark.sql.functions import (dayofmonth, hour, dayofyear,
                                   month, year, weekofyear,
                                  format_number, date_format)

In [19]:
df.select(month(df['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [22]:
#df.select(year(df['Date'])).show()

In [24]:
newdf = df.withColumn("Year",year(df['Date']))

In [31]:
newdf2 = newdf.groupBy("Year").mean("Close")

In [35]:
newdf2.orderBy('Year').show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2010| 259.8424600000002|
|2011|364.00432532142867|
|2012| 576.0497195640002|
|2013| 472.6348802857143|
|2014| 295.4023416507935|
|2015|120.03999980555547|
|2016|104.60400786904763|
+----+------------------+