In [1]:
import findspark

In [2]:
findspark.init('/home/caio/spark-2.1.0-bin-hadoop2.7/')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('ops').getOrCreate()

In [5]:
df = spark.read.csv('/home/caio/Desktop/Spark/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/appl_stock.csv',inferSchema=True,header = True)

In [6]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [9]:
df.head(2)[0]

Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)

In [12]:
#df.filter("Close < 500").select('Open').show()

In [43]:
cols = ['Open','Low','Volume']
data = df.filter((df['Close'] < 500) & ~(df['Open'] > 200)).select(cols).toPandas()

In [44]:
data

           Open         Low     Volume
0    192.369997  191.299999  187469100
1    195.909998  193.379993  174585600
2    195.169994  194.420004  153832000
3    196.730003  191.570005  189413000
4    192.630003  190.850002  212576700
5    195.690006  193.999994  119567700
6    196.419996  194.749998  158221700
7    195.889997  194.260000   92590400
8    194.880001  194.059996  137586400
9    198.109995  195.500002  163867200
10   199.999998  195.709993  143773700
11   198.229998  197.840002  115141600
12   197.380005  196.889994  166281500
13    92.699997   91.750000   75415000
14    94.730003   93.570000   62777000
15    94.129997   93.470001   45681000
16    94.040001   91.900002   54749000
17    92.199997   90.879997   54525000
18    91.510002   91.449997   35561000
19    92.309998   91.800003   29726000
20    92.269997   91.349998   33514000
21    92.290001   91.339996   35528000
22    91.849998   90.900002  100898000
23    91.320000   90.599998   43694000
24    90.750000   90.190002   39036000
25    90.209999   89.650002   36869000
26    90.370003   89.800003   32629000
27    90.820000   90.769997   64029000
28    92.099998   92.089996   49482300
29    93.519997   93.129997   38223000
..          ...         ...        ...
631  109.809998  108.830002   27632000
632  109.720001  109.660004   28428900
633  110.120003  110.010002   29264600
634  111.949997  111.400002   25965500
635  111.360001  110.330002   27426400
636  111.129997  110.949997   11475900
637  111.430000  111.389999   27194000
638  110.779999  110.070000   28528800
639  111.599998  110.269997   36162300
640  110.370003  109.029999   37086900
641  109.169998  108.849998   26528000
642  110.000000  108.250000   34324500
643  109.500000  109.190002   26195500
644  109.260002  109.160004   29998700
645  110.860001  110.599998   27068300
646  112.309998  112.309998   34402600
647  113.290001  112.489998   26374400
648  113.839996  113.750000   43733800
649  115.040001  114.980003   34031800
650  115.379997  115.230003   46524500
651  116.470001  115.650002   44351100
652  115.800003  115.750000   27779400
653  116.739998  116.680000   21425000
654  116.800003  116.779999   23783200
655  116.349998  115.639999   26085900
656  115.589996  115.589996   14249500
657  116.519997  116.489998   18296900
658  117.519997  116.199997   20905900
659  116.449997  116.400002   15039500
660  116.650002  115.430000   30586300

[661 rows x 3 columns]

In [18]:
result = df.filter(df['Low'] == 197.16).collect()

In [21]:
row = result[0]

In [24]:
row.asDict()['Volume']

220441900

In [26]:
import numpy as np
import pandas as pd